.product {
    background: #D6F9DB;
    display: flex;
    flex-direction: row;
    margin-bottom: 4px;
}

.product-info {
    display: flex;
    flex-direction: column;
    flex-grow: 8;
    padding-left: 10px;
}

.product-badge {
    display: flex;
    align-items: center;
    padding-right: 10px;
}
