.navigation {
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
  box-shadow: 0 2px 12px 0 rgba(0,0,0,.13), 0 0 2px 0 rgba(0,0,0,.2);
}
.navigation-menu {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-grow: 8;
}
.navigation-item {
  padding: 10px 10px 10px 25px;
  color: #087A86;
}
.navigation-item a {
  color: #087A86;
  text-align: center;
  text-decoration: none;
}
.navigation-item a:hover {
  color: #039be5;
}
.navigation-item a.active {
  font-weight: bold;
}
.navigation-logout {
  display: flex;
  align-items: center;
  padding-right: 10px;
}
.navigation-logout input[type="button"] {
  color: #087A86;
  padding: 5px;
  background-color: #C8EFCD;
  border: none;
  border-radius: 3px;
}
