/* Resets */
body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    display: flex;
    justify-content: center;
    flex-basis: 0;
}

.container {
    display: flex;
    flex-direction: column;
    color: #087A86;
    background-color: #F2F3F4;
    margin-top: 20px;
    /*padding: 20px 25px 25px;*/
    /*border-radius: 7px;*/
}

.h-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.row {
    display: flex;
    flex-direction: column;
    padding-bottom: 7px;
    padding-right: 14px;
}

/* Resets Remove Default Margins */
body, form, fieldset, legend, input, select, textarea, button {
    margin: 0;
}

ul, h1 {
    list-style-type: none;
    -webkit-margin-before: 0px;
    -webkit-margin-after: 0px;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 0px;
}

@media only screen and (max-width: 500px) {
    h1 {
        font-size: 24px;
    }
}

h1, h4 {
    -webkit-margin-after: 4px;
}

/* Resets Border Box */
*, *:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

input[type="number"] {
    max-width: 80px;
}

input[type="number"], input[type="text"] {
    border:none;
    color: #087A86;
    border-radius: 3px;
}

input {
    min-height: 27px;
    padding: 2px;
    margin: 2px;
    outline-color: #087A86;
}

input[type="submit"] {
    min-height: 34px;
    color: #087A86;
    background-color: #D6F9DB;
    border: 2px dashed #087A86;
    border-radius: 3px;
}

input[type="button"] {
    min-height: 24px;
    color: #087A86;
    background-color: #C8EFCD;
    border: none;
    border-radius: 3px;
}



